@import "@/app/styles/variables.scss";

.EditUser {
    width: 560px;
    display: flex;
    padding: 24px 0;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    @include lg {
        width: 428px;
        gap: 24px;
        padding: 6px 0;
    }
}

.Top {
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Text {
    font-size: 18px;
    font-weight: 700;

    @include lg {
        font-size: 13px;
    }
}

.Text2 {
    font-size: 16px;
    font-weight: 500;
    color: $black;

    @include lg {
        font-size: 12px;
    }
}

.UserRole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    @include lg {
        gap: 12px;
    }
}

.Name {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include lg {
        gap: 4.5px;
    }
}

.Description {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include lg {
        gap: 15px;
    }
}

.Login {
    display: flex;
    justify-content: center;
    gap: 16px;

    @include lg {
        gap: 12px;
    }
}

.Bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include lg {
        gap: 4.5px;
    }
}

.Input {
    position: relative;
    input {
        box-sizing: border-box;
        padding-right: 52px;
        padding-left: 25px;
        width: 210px;
        color: $black5c;
        font-size: 18px;
        font-weight: 500;
        border-radius: 8px;
        background-color: $blackf4;
        height: 56px;
        display: flex;
        align-items: center;
        font-weight: 700;

        @include lg {
            width: 158px;
            height: 46px;
            font-size: 13px;
            padding-right: 45px;
            padding-left: 19px;
        }
    }
    input:focus {
        border: none;
    }
    svg {
        position: absolute;
        top: 16px;
        right: 24px;

        @include lg {
            top: 12px;
            right: 18px;
        }
    }
}

.AddRole {
    display: flex;
    justify-content: center;
    gap: 6px;

    @include lg {
        gap: 4.5px;
    }
}

.MustTrim {
    height: 40px;
    width: 100%;

    @include lg {
        height: 34px;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: $blackf4;
        width: 400px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        color: #e51616;

        @include lg {
            font-size: 12px;
            height: 34px;
            border-radius: 6px;
            width: 300px;
        }
    }
}

.Buttons {
    display: flex;
    justify-content: start;
    gap: 16px;

    @include lg {
        gap: 12px;
    }
}

.Company {
    width: 272px;
    border-radius: 8px;
    background-color: $blackf4;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
    }
    @include lg {
        width: 204px;
        height: 46px;
        font-size: 13px;
    }
}
